@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');
*,*::before,*::after {
    box-sizing: border-box;
    font-family: "Computer Modern Sans Serif", sans-serif;
    font-weight: 400;
}

body {
    background: linear-gradient(to bottom, #e8f5e9 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-position: center;
}

body, h1, p {
    margin: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: flex;
    
}
.column {
    display: grid;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}

.logo {
    margin-right: 2em;
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    
}

/* navigation*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    padding: 3em 0em;
}
nav {
    flex-grow: 1;
    align-items: center;
    gap: 1em;
}

nav a {
    
    font-size: 16px;
    color: #006400;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out ;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
nav a:hover {
    color: #004d00;
}
.primary-links {
    gap: 3em;
}
.secondary-links {
    margin-left: 8em;
}

.secondary-links a {
    font-weight: 700;
    font-size: 18px;
    color: white;
    background-color: #004d00;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.secondary-links a:hover {
    background-color: white;
}

/* hero section*/
.hero {
    min-height: calc(100vh - 118.8px);
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
}
.hero>* {
    flex: 1 1 30em;
}
.hero h1 {
    font-size: clamp(30px, 5vw, 60px);
    color: #006400;
    max-width: 550px;
    line-height: 1;
}
.hero h1 u {
    font-weight: 700;
}

.hero p {
    font-size: 22px;
    color: #008000;
    line-height: 1.2;
    padding: 1em 0;
}

.hero-btns {
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
}
.hero-btns a {
    font-size: 16px;
    opacity: 50%;
    font-weight: 500;
    color: #004d00;  /* Set text color */
    box-shadow:0px 30px 60px rgba(0, 100, 0, 0.2);
    padding: 0.5em 1em; 
    
}

.search-btn {
    display: flex;
    padding: 0.7em;
    width: 30em;  /* Adjust padding to control button size */
    background-color: #FFFFFF;  /* Set white background color */
    border: 2px solid #006600;  /* Set solid green border */
    border-radius: 10px;  /* Add rounded corners for a nice touch */
    cursor: pointer;  /* Change cursor on hover for better user experience */
    align-items: center;
}

.hero-cards {
    
    align-items: flex-end;
    gap: 1em;
}
.hero-cards .column {
    gap: 1em;
}
.hero-cards a {
    transition: 0.3s ease-in-out;
}
.hero-cards a:hover {
    transform: scale(0.95);
}

/* media query*/
@media screen and (max-width: 1000px) {
    .toggleMenu {
        position: absolute;
        right: 5%;
        background-image: url("images/menu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 1000;
        transform: background-size 0.3s ease-in-out;
    }
    .toggleMenu.active {
        position: fixed;
        background-image: url("./images/icons8-x-24.png");
        background-size: 25px;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        transform: scale(1, 0);
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }

    .navigation.active {
        position: fixed;
        inset: 0;
        background-color: #e8f5e9;
        max-height: 100%;
        opacity: 1;
        transform: scale(1, 1);
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .secondary-links {
        margin: unset;
    }

    @media screen and (max-width:800px) {
        .nav-hero-bg {
            background-image: unset;
        }

        .hero-cards {
            background-color: #71b171;
            padding: 1em;
        }
    }
}


/*service section*/
.service-bg {
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container-services {
    width: 100%;
    height: auto;
    padding: 0 8%;
    background-color: #B3E5FC;
}
.container-services h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    color: #006400
}

.container-services h1::after {
    content: '';
    background-color: #CCCCCC;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left:  50%;
    transform: translateX(-50%);
}
.row-service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service {
    background-color: white;
    text-align: center;
    padding: 25px 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    
}
.service h2 {
   color: #004d00;
   font-weight: 600;
   margin-bottom: 8px;
}

.service p {
    color: #333333;
}

.service img {
    margin-bottom: 10px;
    transition: filter 0.3s; /* Add transition for smooth effect */ 
}

.service:hover img {
    filter: brightness(0) invert(1); /* Changes the image to white when hovered over */
}

.service:hover {
    background-color: #008000;
    
    transform: scale(1.05);
}

.service:hover h2, .service:hover p {
    color: white;
}

